<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Text checker</title>
</head>
<body>
    <h1>This site is made by Rupesh Mishra </h1>
    <form action='/Analyze' method='get'  > 
     <textarea  name="text" style='width: 1183px; height: 100px;'></textarea><br>
     <input type="checkbox" name="removepunc">Remove the punctuation<br>
     <input type="checkbox" name="full_capitalize">full capatalize<br>
     <input type="checkbox" name="extraspaceremover">extraspaceremover<br>


     <button type="submit">Analyze text</button>


      
    </form>
</body>
</html>